# Hugo files
public/
resources/
hugo_stats.json

# Node.js dependencies
node_modules/

# Optional Hugo files
config.toml
config.yaml
config.json

# Output of hugo server
hugo_server.log

# Temporary files
*.tmp
*.swp
*.swo
